section#project-previews {
  background-color: $primary-background;
  
  .project-previews-container{
    width: 95%;
    margin: 0rem auto;
  }
  
  .project-preview-title-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0rem;
    padding-bottom: 1rem;
  }

  .projects-title {
    color: $secondary-text;
    font-family: 'AvenirNext-Regular', Arial;
    font-size: calculateRem(36px);
    padding-bottom: 1rem;
    border-bottom: 1px solid $secondary-text;
    width: 90%;
  }

  .project-preview-container {    
    display: flex;
    margin: 2rem auto;
    margin-bottom: 3rem;
  }

  .projects:first-child { 
    margin: 0rem auto;
  }   

  .project-tile-container {
    width: 100%;
    display: grid;
    place-items: center;
  }

  .project-tile {
    height: 25vw;
    width: 90%;
    flex-basis: 100%;
    margin: 0rem auto;
    padding: 0rem 0rem;
  }

  .work-related {
    height: 11.75vw;
  }

  .project-info {
    flex-wrap: wrap;
  }
}

@include large {
  section#project-previews {
    width: 100%;

    .project-preview-container {
      display: block;
      margin: 2rem auto;
    }

    .project-preview-container:first-child {
      display: block;
      margin-top: 0rem;
    }

    .projects-title {
      width: 90%;
      margin: 0 auto;
    }

    .project-tile {
      height: 45vw;
      margin-bottom: 2rem;
      width: 85%;
    }

    .work-related {
      height: 25vw;
    }
  }
}

@include mobile {
  section#project-previews {
    .project-tile {
      margin-bottom: 2rem;
      width: 90%;
    }

    .projects-title {
      width: 90vw;
      margin: 0 auto;
    }

    .project-spacing {
      width: 90%;
    }
  }
}