section#projectpage{
  padding: 3rem;
  width: 70%;

  h1, .content > h1 {
    font-family: 'AvenirNext-Bold';
    font-size: calculateRem(40px);
    color: $secondary-text;
  }

  .content > ul,
  .content p {
    font-family: 'AvenirNext-Regular';
    font-size: calculateRem(24px);
    line-height: 2.25rem;
  }

  .content > h1 {
    font-family: 'AvenirNext-Bold';
    font-size: calculateRem(40px);
    color: indianred;
  }

  .content a {
    color: $blue-link;
    cursor: pointer;
    font-family: 'AvenirNext-Regular';
    font-weight: bold;
  }
  .content a:hover {
    color: darken($blue-link, 10%);
  }

  div.subtitle,
  .content > p > img {
    width: 70%;
    display: flex;
    margin: 0 auto;
    font-size: calculateRem(20px);
    font-family: 'AvenirNext-Regular';
    text-align: center;
  }

}


.projectpage-image {
  width: 100%;
  height: 18vw;
}

div.quote {
  padding: 2rem;
  background-color: darken($primary-background,15%);
  font-family: 'AvenirNext-Regular';
  font-size: calculateRem(22px);
  line-height: 2rem;
}

@include mobile {
  section#projectpage{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0rem;

    .title, .content > h1 {
      font-size: calculateRem(30px);
    }

    .content > ul,
    .content p {
      font-size: calculateRem(20px);
      line-height: 2rem;
    }

    div.subtitle,
    .content > p > img {
      width: 90%;
      font-size: calculateRem(16px);
      line-height: 1.5rem;
    }

  }
  
  blockquote {
    margin: 0;
  }

  div.quote {
    width: 90%;
    padding: 2rem 1rem;
    font-size: calculateRem(20px);
    line-height: 1.75rem;
  }


  .projectpage-image {
    width: 100%;
    height: 22.5vw;
  }
}